* {padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'nunito sans', sans-serif;
 color: rgb(200, 138, 57); }
 
 ul{ list-style: none;}
 img { height: 20vh;}
 
 a { text-decoration: none;}
 body { 
        background-image: linear-gradient( 90deg, #051937, #002f41, #1f4244, #43534c, #62645f);
        background-repeat: no-repeat;
        background-position: center center fixed ;
       /* background-size: ; */
        height:100vh;
        
 }
 .principal { text-align: center;}
 .principal .nome h1 { font-size: 60px;}
 .principal .nome h5 { font-size: 25px;}
  
 .informacao input { width:15%;width: 200px;height: 25px;border: none;border-radius: 5px 0 0 5px;}
 .informacao button{
    background-color: #316056;
    width: 50px;
    height: 25px;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    margin-top: 10px;}
 header {display: flex; justify-content: space-around;align-items: center;padding: 20px;
    margin-bottom: 45px;}
 #seta {font-size: 25px;cursor: pointer; animation: blink 1s steps(5,start) infinite; 
    transition: 300ms;}
 @keyframes blink {
    to {
       visibility: hidden;
    }
 }
 .rodar { transform: rotate(180deg);
    transition: 300ms;}
 .aparecer { display: block !important;}
 
 #descricao p{
    max-width: 600px;
    margin: 0 auto;
 }
 
 header ul{ display: flex;}
 header ul li { padding: 5px;}
 .principal .nome h5{ color: aliceblue;border-style: double solid; border-width: 5px;margin:10px 400px 10px 400px;}
 header ul li a:hover{color: aliceblue;}
 .informacao button:hover{background-color: #248759;color: aliceblue;}
 .informacao {margin-top: 30px;}
 
 @media only screen and (max-width:480px){
    .principal .nome h1 { font-size: 40px;}
    img {height: 10vh;}
    #descricao p { max-width: 80%;}
 }
 
  